version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: symfony_todo
      POSTGRES_USER: app
      POSTGRES_PASSWORD: ChangeMe
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - db
    volumes:
      # Synchronizuj vše kromě složky /app/var
     - ./:/app:delegated
      # Pro složku /app/var použij náš nový pojmenovaný svazek
     - var_data:/app/var
    ports:
      - "8000:80"

volumes:
  db_data:
  var_data: 