{% extends 'base.html.twig' %}

{% block title %}Nový úkol{% endblock %}

{% block body %}
    <h1>Vytvořit nový úkol</h1>

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('app_task_index') }}" class="btn btn-secondary">Zpět na seznam</a>
{% endblock %}
